<aside class="w-64 bg-gray-800 flex flex-col py-6 px-4 border-r border-gray-700 shadow-lg">
    <div class="flex items-center mb-10 pl-2">
      <a href="/" class="flex items-center">
        <i class="fas fa-chart-line text-blue-500 text-3xl mr-2"></i>
        <span class="text-gray-50 text-2xl font-bold">Manikarnika<br>Studio</span>
      </a>
    </div>
    <nav class="flex-grow">
      <ul>
        <li><a href="/admin/dashboard" data-title="Dashboard" class="sidebar-link block p-3 text-gray-200 hover:bg-gray-700 rounded">Dashboard</a></li>
        <li><a href="/admin/users" data-title="Users" class="sidebar-link block p-3 text-gray-200 hover:bg-gray-700 rounded">Users</a></li>
        <li><a href="/admin/transactions" data-title="Transactions" class="sidebar-link block p-3 text-gray-200 hover:bg-gray-700 rounded">Payments</a></li>
        <!-- Add more links here -->
      </ul>
    </nav>
  </aside>
  

