<aside class="w-64 bg-gray-900 flex flex-col py-6 px-4 border-r border-gray-700 shadow-lg">
    <div class="flex items-center mb-10 pl-2">
      <a href="/" class="flex items-center">
        <i class="fas fa-chart-line text-blue-500 text-3xl mr-2"></i>
        <span class="text-gray-50 text-2xl font-bold">Manikarnika<br>Studio</span>
      </a>
    </div>
    <nav class="flex-grow">
      <ul>
        <li>
          <a href="/admin/dashboard" class="btn-background flex items-center p-3 rounded-xl  font-semibold ">
            <i class="fas fa-home text-xl mr-3"></i> 
            <span class="ml-2">Dashboard</span>
        </a>
        </li>
        <li><a href="/admin/users" class="btn-background flex items-center mt-5 p-3 rounded-xl font-semibold ">
          <i class="fa-solid fa-users text-xl mr-3"></i> 
          <span class="ml-2">Users</span>
      </a></li> 
      <li>
        <a href="/admin/transactions" class="btn-background flex items-center mt-5 p-3 rounded-xl font-semibold ">
          <i class="fa-solid fa-credit-card text-xl mr-3"></i>
          <span class="ml-2">Payment</span>
      </a>
      </li>
      <li>
        <a href="/admin/team" class="btn-background flex items-center mt-5 p-3 rounded-xl font-semibold ">
          <i class="fa-solid fa-people-group text-xl mr-3"></i>
          <span class="ml-2">Team Members</span>
      </a>
      </li>
      <li>
        <a href="/admin/projects" class="btn-background flex items-center mt-5 p-3 rounded-xl font-semibold ">
          <i class="fa-solid fa-people-group text-xl mr-3"></i>
          <span class="ml-2">Projects</span>
      </a>
      </li>
       <!-- Add more links here -->
      </ul>
    </nav>
  </aside>
  

