<div class="flex flex-col min-h-screen w-64 bg-gray-900 text-white shadow-lg border-r border-gray-700">

    <div class="p-6">
        <div class="mb-6">
            <a href="/" class="flex items-center">
               <img src="images/img2.png" alt="Logo" class="w-10 h-10" />
                <div>
                    <span class="text-gray-50 text-2xl font-bold block">Manikarnika</span>
                    <span class="text-gray-50 text-base font-bold block leading-none">Studio</span>
                </div>
            </a>
        </div>
    </div>

    <nav class="flex-grow p-4 space-y-2">
        <a href="/client/clientProfile/<%=currentUser._id%>" class="flex items-center space-x-3 px-4 py-3 rounded-lg text-gray-400 hover:bg-gray-800 hover:text-white transition-colors duration-200">
            <i class="fa-solid fa-address-card"></i>
            <span>Profile</span>
        </a>
        <a href="/client/clientServices" class="flex items-center space-x-3 px-4 py-3 rounded-lg text-gray-400 hover:bg-gray-800 hover:text-white transition-colors duration-200">
            <i class="fas fa-th-large"></i>
            <span>Services</span>
        </a>
        <a href="#" class="flex items-center space-x-3 px-4 py-3 rounded-lg text-gray-400 hover:bg-gray-800 hover:text-white transition-colors duration-200">
            <i class="fas fa-folder"></i>
            <span>Projects</span>
        </a>
        
        <a href="#" class="flex items-center space-x-3 px-4 py-3 rounded-lg text-gray-400 hover:bg-gray-800 hover:text-white transition-colors duration-200">
            <i class="fas fa-credit-card"></i>
            <span>Payments</span>
        </a>
        <a href="/client/clientChat" class="flex items-center space-x-3 px-4 py-3 rounded-lg text-gray-400 hover:bg-gray-800 hover:text-white transition-colors duration-200">
            <i class="fa-solid fa-comment"></i>
            <span>Chats</span>
        </a>
        </a>
        <a href="#" class="flex items-center space-x-3 px-4 py-3 rounded-lg text-gray-400 hover:bg-gray-800 hover:text-white transition-colors duration-200">
            <i class="fas fa-question-circle"></i>
            <span>Help</span>
        </a>
        <a href="#" class="flex items-center space-x-3 px-4 py-3 rounded-lg text-gray-400 hover:bg-gray-800 hover:text-white transition-colors duration-200">
            <i class="fas fa-cog"></i>
            <span>Settings</span>
        </a>
    </nav>
    
    <div class="p-4 border-t border-gray-700">
        <a href="/client/logout" class="flex items-center space-x-3 px-4 py-3 rounded-lg text-red-400 hover:bg-gray-800 transition-colors duration-200">
            <i class="fas fa-sign-out-alt"></i>
            <span>Logout</span>
        </a>
    </div>

</div>