<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Client Dashboard</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css" integrity="sha512-DxV+EoADOkOygM4IR9yXP8Sb2qwgidEmeqAEmDKIOfPRQZOWbXCzLC6vjbZyy0vPisbH2SyW27+ddLVCN+OMzQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
 
</head>
<body class="bg-gray-900 text-gray-200">

  <div class="flex min-h-screen">
    
    <!-- Static Sidebar (Left) -->
    <%- include('../includes/clientSidebar') %>


      <!-- Main dynamic content -->
      <main id="main-content" class="flex-1 p-6 overflow-y-auto">
        <%- body %>
      </main>

    </div>
  </div>

</body>
</html>
